*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: black; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#notFoundWrapper{
  width: 100%;
  height: 100%;
}

.notFoundHeading {
  font-size: 40px;
  color: white;
}

.noteView{
  color: white;
  width: 70vw;
  height: 100vh;
  position: absolute;
  right: 0;
  padding: 1rem;

  color: white;
  textarea {

    margin: 0; 
    padding: 5px 5px 0 5px;
    resize:none;
    height: 15%;
    width: 100%;
    border:none;
    outline:none;
    font-size: 4rem;
    background: transparent;
    color: white;

    &::-webkit-scrollbar {
      width: 4px;
    }
  
    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
  
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }
  
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  
  }
  .noteViewTitle {
    height: 16%;
    font-weight: bold;
    border-bottom: 1px solid gray;
  }
  p {
    margin: 0 auto;
    text-align: center;
  }
  .noteViewText {
    margin-top: 10px;
    height: 79%;
    bottom: 0;
    font-size: 1.2rem;

          /* width */
      
  }

}

.notesBox{
  z-index: 1;
  width: 30vw;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position:absolute;
  left: 0;
  background: #181818;
  box-shadow: 0 0 0 0 rgba(255,255,255,0.15);
  overflow: scroll;
  overflow-x: hidden;
  height: 100vh;
  transition: left 0.4s ease-in;



  h3{
    color: white;
  }

  .notesBoxTop{
    display: grid;
    grid-template-columns: 60% 40%;
    position: sticky;
    align-items: center;
    justify-content: space-between;


    .title {
      font-size: 40px;
      color: white;
      margin-top: 2rem;
      margin-left: 1rem;
      margin-bottom: 1rem;
    }
    .searchNoteInput{
      width: 95%;
      margin:0 auto;
      margin-bottom: 5px;
      font-size: 1.2rem;
      padding:3px 2px;
      background-color: transparent;
      color: white;
      outline: none;
      border: none;
      border-bottom: 1px solid white;
      grid-column: span 2;
    }

    .createNoteButton {
      margin-right: 10px;
      cursor: pointer;
      width: 50px;
      height:50px;
      background-color:rgb(52, 52, 52);
      color: white;
      border-radius:5px;
      font-size: 1.5rem;
      outline: none;
      border: none;
      justify-self: flex-end;
      &:hover{
        transform: scale(1.01);
        box-shadow: rgb(52, 52, 52) 0px 0px 1px 1px;
      }


    }

    .signOutButton{
      justify-self: end;
      text-decoration: none;
      font-size: 1rem;
      background-color: transparent;
      border: none;
      outline: none;
      color: #5cacd4;
      padding: 2px;
      margin-bottom: 2px;

        &:hover{
          cursor: pointer;
          color: #5cacd4;
          text-decoration: underline;
        }
      
    }
  }


  &::-webkit-scrollbar {
    width: 0px;
  }

}

.noteBox {
  cursor:pointer;
  padding: 1rem;
  margin: 5px;
  background-color: gray;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: rgba(0,0,0,0.25);
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 24px;
}

.noteBoxContent {
  justify-content: left;
  width: 100%;
  height: 100%;
  h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  p{
    margin-right: 5px;
    max-height: 70px;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    overflow-y: hidden;
  }
}

.noteButtons{
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;

  .deleteNoteButton, .togglePinButton {
    margin-top: 3px;
    cursor: pointer;
    padding: 3px;
    background-color: transparent;
    font-size: 1rem;
    outline: none;
    &:hover{
      transform: scale(1.05);
    }
  }
}
.toggleNotesBoxButton {
  display: none;
  z-index:2;
  background-color: transparent;
  border:none;
  outline:none;
  font-size: 1.2rem;
  color: white;
  position:absolute;
  margin: 0;
  top: 3px;
  left: -2px;
  &:hover{
    cursor: pointer;
  }
}

@media screen and (max-width: 900px) {
  .container{
    display: block;
  }
  .toggleNotesBoxButton{
    display: block;
  }

  .noteView{
    width: 100%;
    z-index: 0;

    textarea {
      font-size: 2.5rem;
    }
    .noteViewTitle {
      height: 10%;
      text-align: center;
    }
    .noteViewText{
      font-size: 1rem;
    }
  }

  .notesBox{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

    .notesBoxTop{
      grid-column: span 2;
    }
  }
  
  .title{
    font-size: 30px;
    margin-top: 1.5rem;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.alertBox {
  display: none;
  font-size: 2rem;
  border-radius: 1rem;
  padding: 8px;
  background-color: rgb(227, 61, 61);
  color: white;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
  z-index: 3;

  .alertHeading {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }



  button {
    color: white;
    font-size: 1.5rem;
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    background: transparent;
    float: right;
     &:hover{
      cursor: pointer;
     }
  }
}